:root {
    --clr-primary: #473525;
    --clr-secondary: #ffffff;
    --clr-tertiary: #FF3D00;

    --fs-nav: 1.125rem;
    --fs-body: 1.675rem; 
    --fs-primary-header: 4.75rem;
    --fs-secondary-header: 4.125rem;
    --fs-small: .9375rem;

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;

    --ff-primary: 'Jost', sans-serif;
    --ff-nav: 'Quicksand', sans-serif;
    --ff-menu-700: 'Martel Sans', sans-serif;
    --ff-menu-400: 'Jura', serif;

    @media (max-width: 760px) {
        --fs-primary-header: 2.5rem;
        --fs-secondary-header: 2rem;
        --fs-nav: 1rem;
        --fs-body: 1.25rem;
        --fs-small: .875rem;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    padding-inline: 3rem;
    margin-inline: auto;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    text-align: center;
    color: var(--clr-primary);
    line-height: 1.3;
    background-image: url(images/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* RESETS */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

ul, li { 
    list-style: none; 
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTILITY CLASSES */

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.ff-nav {
    font-family: var(--ff-nav);
}

.fs-nav {
    font-size: var(--fs-nav);
}

.fs-primary-header {
    font-size: var(--fs-primary-header);
}

.fs-secondary-header {
    font-size: var(--fs-secondary-header);
}

.fs-small {
    font-size: var(--fs-small);
}

.flex-gap-1, .flex-gap-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-gap-1 {
    gap: 1rem;
}

.flex-gap-2 {
    gap: 2rem;
}

/* TYPOGRAPHY */


/* NAVIGATION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;

    & img {
        width: 100px;
        aspect-ratio: 1;
        object-fit: contain;
    }
}

nav {
    display: none;
}

.btn {
    background-color: transparent;
    font: inherit;
    font-size: var(--fs-nav);
    text-wrap: nowrap;
    padding: .5rem 1rem;
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;

    &:hover, &:focus {
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
    }
}

.hamburger {
    display: block;
    width: 30px;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.hamburger .bar, .hamburger:before, .hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    margin: 6px 0;
    background-color: var(--clr-primary);
    border-radius: 10px;
    transition: .3s;
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -7px);
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--clr-secondary);
    z-index: 98;
    transform: translateX(100%);
    transition: .3s;

    &.is-active {
        transform: translateX(0);
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        height: 100%;
    }

    & li {
        font-size: var(--fs-nav);
    }
}

@media (min-width: 760px) {
    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: space-between;
        align-content: center;
        gap: 4rem;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    nav li {
        position: relative;
    }

    nav li:after {
        content: '';
        position: absolute;
        margin-top: 3px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--clr-primary);
        transform: scaleX(0);
        transition: transform .3s;
    }

    nav li:hover:after {
        transform: scaleX(100%);
    }
}






/* LAYOUT */

main {
    display: grid;
    gap: 5rem;
}

.hero-section {
    display: grid;
    gap: 3rem;
}

.hero-content {
    display: grid;
    gap: 1.5rem;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}