:root {
    --clr-primary: #473525;
    --clr-secondary: #ffffff;
    --clr-tertiary: #FF3D00;

    --linear-gradient-1: linear-gradient(180deg, #FFE2C8 0%, #FFF3C8 0.01%, #FEBA44 85.42%);
    --linear-gradient-2: linear-gradient(0deg, #FDFDFD, #FDFDFD),
    linear-gradient(180.82deg, rgba(255, 155, 37, 0.79) 1.75%, rgba(255, 241, 224, 0.65) 91.89%);
    --linear-gradient-3: linear-gradient(0deg, #FDFDFD, #FDFDFD),
    linear-gradient(360deg, rgba(255, 155, 37, 0.87) 2.43%, #FFF3C8 83.67%);
    --linear-gradient-4: linear-gradient(180.52deg, rgba(255, 243, 200, 0.62) 0.41%, #FFA51E 99.48%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    
    
    


    --fs-nav: 1.125rem;
    --fs-body: 1.675rem; 
    --fs-primary-header: 4.75rem;
    --fs-secondary-header: 4.125rem;
    --fs-small: .9375rem;

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;

    --ff-primary: 'Jost', sans-serif;
    --ff-nav: 'Quicksand', sans-serif;
    --ff-menu-700: 'Martel Sans', sans-serif;
    --ff-menu-400: 'Jura', serif;

    @media (max-width: 760px) {
        --fs-primary-header: 2.5rem;
        --fs-secondary-header: 2rem;
        --fs-nav: 1rem;
        --fs-body: 1.25rem;
        --fs-small: .875rem;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    padding-inline: 1rem;
    margin-inline: auto;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    text-align: center;
    color: var(--clr-primary);
    line-height: 1.2;
    background-image: url(images/BG.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 760px) {
        padding-inline: 3rem;
    }

    @media (min-width: 960px) {
        text-align: left;
    }
}

/* RESETS */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

ul, li { 
    list-style: none; 
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTILITY CLASSES */

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.ff-nav {
    font-family: var(--ff-nav);
}

.ff-menu-700 {
    font-family: var(--ff-menu-700);
}

.ff-menu-400 {
    font-family: var(--ff-menu-400);
}

.fs-nav {
    font-size: var(--fs-nav);
}

.fs-primary-header {
    font-size: var(--fs-primary-header);
}

.fs-secondary-header {
    font-size: var(--fs-secondary-header);
}

.fs-small {
    font-size: var(--fs-small);
}

.flex-gap-1, .flex-gap-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-gap-1 {
    gap: 1rem;
}

.flex-gap-2 {
    gap: 2rem;
}

.grid-gap-1 {
    display: grid;
    gap: 1.5rem;
}

.grid-gap-2 {
    display: grid;
    gap: 2rem;
}

.grid-gap-3 {
    display: grid;
    gap: 3rem;
}


@keyframes fadeInLeft {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scaleInBottom {
    70% {
        transform: scale(1.1);
    }

    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes scaleInCenter {
    70% {
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .grid-gap-1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px) {
    .grid-gap-1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .flex-gap-2 {
        justify-content: start;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .fade-in-left {
        transform: translateX(-100%);
        opacity: 0;
    }

    .fade-in-left.active {
        animation: fadeInLeft 1s ease forwards;
        animation-delay: .3s;
    }

    .scale-in-bottom {
        transform: translateZ(0) translateY(50%) scale(.75);
        opacity: 0;
    }

    .scale-in-bottom.active {
        animation: scaleInBottom 1s cubic-bezier(.4,.6,.8,1) forwards;
    }

    .scale-in-center {
        opacity: 0;
        transform: scale(.5);
    }

    .scale-in-center.active {
        animation: scaleInCenter 1s ease forwards;
    }
}


/* TYPOGRAPHY */


/* NAVIGATION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

.logo {
    width: 100px;
    aspect-ratio: 1;
    object-fit: contain;
}

nav {
    display: none;
}

.btn {
    background-color: transparent;
    font: inherit;
    font-size: var(--fs-nav);
    text-wrap: nowrap;
    padding: .5rem 1rem;
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;

    &:hover, &:focus {
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
    }

    &[data-large= "large"] {
        padding: 1rem 2rem;
    }
}

.hamburger {
    display: block;
    width: 30px;
    background: none;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.hamburger .bar, .hamburger:before, .hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    margin: 6px 0;
    background-color: var(--clr-primary);
    border-radius: 10px;
    transition: .3s;
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -7px);
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--clr-secondary);
    z-index: 98;
    transform: translateX(100%);
    transition: .3s;

    &.is-active {
        transform: translateX(0);
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        height: 100%;
    }

    & li {
        font-size: var(--fs-nav);
    }
}

@media (min-width: 760px) {
    header {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: space-between;
        align-content: center;
        gap: 4rem;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    nav li {
        position: relative;
    }

    nav li:after {
        content: '';
        position: absolute;
        margin-top: 3px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--clr-primary);
        transform: scaleX(0);
        transition: transform .3s;
    }

    nav li:hover:after {
        transform: scaleX(100%);
    }
}






/* LAYOUT */

main {
    display: grid;
    gap: 7rem;
    padding-block: 3rem;
}

@media (min-width: 960px) {
    .hero-section {
        grid-template-columns: 3fr 2fr;
        gap: 0;
    }
    
    .features-section {
    grid-template-columns: 2fr 4fr;
    align-items: center;
}

}
.hero-content {
    display: grid;
    gap: 1.5rem;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        transform: translateX(-2rem);
    }
}

.img-card {
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FFE2C8 0%, #FFF3C8 0.01%, #FEBA44 85.42%);
    border-radius: 48px;
    box-shadow: 0 10px 50px hsla(32, 29%, 27%, 0.54);

    & img {
        aspect-ratio: 1;
    }

    @media (min-width: 960px) {
        &:nth-child(2) {
            transform: translateY(30%);
        }
    }
}

.card {
    display: grid;
    position: relative;
    gap: 1.5rem;
    text-align: left;
    padding: 2rem;
    border-radius: 48px;
    box-shadow: 0 0 50px #FFFFFF;

    &:nth-child(1) {
        background: linear-gradient(180.82deg, rgba(255, 155, 37, 0.79) 1.75%, rgba(255, 241, 224, 0.65) 91.89%);
    }

    &:nth-child(2) {
        background: linear-gradient(360deg, rgba(255, 155, 37, 0.87) 2.43%, #FFF3C8 83.67%);
        animation-delay: .4s;
    }

    &:nth-child(3) {
        background: linear-gradient(180.52deg, rgba(255, 243, 200, 0.62) 0.41%, #FFA51E 99.48%);
        animation-delay: .8s;
    }

    & img {
        aspect-ratio: 1;
    }
}

.card::after {
    content: url("images/Heart\ Group\ --\ 1.png");
    position: absolute;
    top: 0;
    right: 0;
}

/* FOOTER */

footer .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: start;
}

form {
    display: grid;
    gap: 1rem;
    width: max-content;

    input, textarea {
        padding: 1rem;
        font: inherit;
        outline: none;
        border: none;
        border-radius: 10px;
    }

    & .submit-btn {
        cursor: pointer;
        background: #FFA500;
        transition: filter .3s;

        &:hover, &:focus {
            filter: opacity(.7);
        }
    }
}

.contact-info {
    display: flex;
    gap: 1rem;
}